/backend/common/EntityFramework.SqlServer.dll
/backend/common/OmegaInc.Common.Entity.dll
/backend/common/OmegaInc.Common.Repository.dll
/backend/common/OmegaInc.Common.Repository.Entity.dll
/backend/common/EntityFramework.dll
/backend/OmegaInc.VagasEmprego/OmegaInc.VagasEmprego.CoreData/App.config
/backend/OmegaInc.VagasEmprego/.vs
